html { 
  background: url("blue.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

article{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border-style: solid;
	border-width: thin; 
	width: 640px;
}

li{
	display: inline;
}
