html { 
background-color: #e1e8f0;
}


.profilep{
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #2C3539;
	width: 100%;
	float: right;
	z-index: 999;
	color: white;
	font-family: 'Work Sans', sans-serif;
	font-size: 800px;
}
.profilepic{
	width: 14%;
	height: auto;
	float: right;
	top: 0px;
}
.top{
	height: 220px;
}
.content{
	float: bottom;
	padding: 10px;
	position: relative;
	display: block;
}


article{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.8vw;
	border-style: solid;
	border-width: thin; 
	width: 850px;
}

li{
	display: inline;

	
}
nav{
	
	float: right;
	margin: 0;
	padding: 0;
	position: fixed;
	margin-left: 850px;
}
button {
	border: none;
	text-align: center;
	cursor: pointer;
	transition-duration: 0.4s;
	display: inline-block;
	font-size: 1.5vw;
	-webkit-transition-duration : 0.4s;/*safari*/
}

.button1{
	color: white;
	background-color: green;
	border: 2px solid green;

}
.button1:hover {
	color: white;
	background-color: green;
}



.button2{
	color: black;
	background-color: white;
	border: 2px solid green;
	float: left;
}
.button2:hover {
	color: white;
	background-color: green;
}
.button3{
	color: black;
	background-color: white;
	border: 2px solid purple;
}
.button3:hover {
	color: white;
	background-color: purple;
}
.button4{
	color: black;
	background-color: white;
	border: 2px solid purple;
	float: right;
}
.button4:hover {
	color: white;
	background-color: purple;
}
footer{
	font-size: 1.5vw;
}

h1{
	font-size: 5vw;
	text-align: center;

}
h2{
	font-size: 2vw;
}
.fbicon{
	vertical-align: middle;
}
.profile{
	vertical-align: text-top;
}
